@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}
